In [16]:
# Import the necessary dependencies
import pandas as pd

In [17]:
# Read in the data as a DataFrame
# Provide the dataset over AWS S3 bucket. It's ~100 MB.
delayed_flights_url = "https://static.bc-edx.com/ai/ail-v-1-0/m5/lesson_2/delayed_flights.csv"
delayed_flights_df = pd.read_csv(delayed_flights_url)
delayed_flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN

In [18]:
# Get the columns
delayed_flights_df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [19]:
# 1. Show the average time for delayed arrivals (ArrDelay) for each carrier.
delayed_flights_df.groupby('UniqueCarrier')['ArrDelay'].mean()

UniqueCarrier
9E    47.996243
AA    47.794556
AQ    21.255376
AS    36.114195
B6    49.455843
CO    38.925122
DL    38.026678
EV    43.735426
F9    26.108155
FL    42.621279
HA    33.811415
MQ    47.349644
NW    45.912690
OH    48.052603
OO    46.396577
UA    49.287229
US    35.113255
WN    30.125680
XE    49.519551
YV    58.518096
Name: ArrDelay, dtype: float64

In [20]:
# 2. Show the average time for delayed arrivals and delayed departures for each carrier.
delayed_flights_df.groupby('UniqueCarrier')[['ArrDelay', 'DepDelay']].mean()

                ArrDelay   DepDelay
UniqueCarrier
9E             47.996243  48.389124
AA             47.794556  46.840312
AQ             21.255376  26.680000
AS             36.114195  38.888600
B6             49.455843  50.692277
CO             38.925122  41.107583
DL             38.026678  37.734884
EV             43.735426  45.392455
F9             26.108155  25.633450
FL             42.621279  41.083869
HA             33.811415  34.001540
MQ             47.349644  44.996970
NW             45.912690  41.708387
OH             48.052603  46.261080
OO             46.396577  45.184297
UA             49.287229  50.316988
US             35.113255  38.558703
WN             30.125680  34.082782
XE             49.519551  49.275620
YV             58.518096  58.291574

### Grouping and aggregating wiht multiple columns and functions.

In [21]:
# 3. Show the total number of flights that were diverted for each carrier by day of the week.
delayed_flights_df.groupby(['UniqueCarrier', 'DayOfWeek'])['Diverted'].sum()


# Display the top 25 rows
delayed_flights_df.head(25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
5,2008,1,3,4,1937,1830,2037.0,1940,WN,509,...,3.0,7,0,N,0,10.0,0.0,0.0,0.0,47.0
6,2008,1,3,4,706,700,916.0,915,WN,100,...,5.0,19,0,N,0,NaN,NaN,NaN,NaN,NaN
7,2008,1,3,4,1644,1510,1845.0,1725,WN,1333,...,6.0,8,0,N,0,8.0,0.0,0.0,0.0,72.0
8,2008,1,3,4,1029,1020,1021.0,1010,WN,2272,...,6.0,9,0,N,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1452,1425,1640.0,1625,WN,675,...,7.0,8,0,N,0,3.0,0.0,0.0,0.0,12.0
10,2008,1,3,4,754,745,940.0,955,WN,1144,...,5.0,16,0,N,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1323,1255,1526.0,1510,WN,4,...,4.0,9,0,N,0,0.0,0.0,0.0,0.0,16.0
12,2008,1,3,4,1416,1325,1512.0,1435,WN,54,...,2.0,5,0,N,0,12.0,0.0,0.0,0.0,25.0
13,2008,1,3,4,1657,1625,1754.0,1735,WN,623,...,5.0,5,0,N,0,7.0,0.0,0.0,0.0,12.0
14,2008,1,3,4,1900,1840,1956.0,1950,WN,717,...,2.0,5,0,N,0,NaN,NaN,NaN,NaN,NaN
15,2008,1,3,4,1039,1030,1133.0,1140,WN,1244,...,2.0,5,0,N,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1520,1455,1619.0,1605,WN,2553,...,2.0,7,0,N,0,NaN,NaN,NaN,NaN,NaN
17,2008,1,3,4,1422,1255,1657.0,1610,WN,188,...,6.0,6,0,N,0,40.0,0.0,0.0,0.0,7.0
18,2008,1,3,4,1954,1925,2239.0,2235,WN,1754,...,3.0,7,0,N,0,NaN,NaN,NaN,NaN,NaN
19,2008,1,3,4,2107,1945,2334.0,2230,WN,362,...,6.0,7,0,N,0,5.0,0.0,0.0,0.0,59.0
20,2008,1,3,4,1312,1300,1546.0,1550,WN,1397,...,7.0,7,0,N,0,NaN,NaN,NaN,NaN,NaN
21,2008,1,3,4,1449,1430,1715.0,1720,WN,3398,...,6.0,6,0,N,0,NaN,NaN,NaN,NaN,NaN
22,2008,1,3,4,1634,1555,1859.0,1845,WN,3480,...,5.0,6,0,N,0,NaN,NaN,NaN,NaN,NaN
23,2008,1,3,4,1812,1650,1927.0,1815,WN,422,...,6.0,11,0,N,0,3.0,0.0,0.0,0.0,69.0
24,2008,1,3,4,1127,1105,1235.0,1230,WN,1837,...,9.0,5,0,N,0,NaN,NaN,NaN,NaN,NaN

In [22]:
# Display the last 25 rows.
delayed_flights_df.tail(25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1048550,2008,6,10,2,1254,1245,1635.0,1640,AA,1494,...,4.0,12,0,N,0,NaN,NaN,NaN,NaN,NaN
1048551,2008,6,11,3,1304,1245,1654.0,1640,AA,1494,...,5.0,16,0,N,0,NaN,NaN,NaN,NaN,NaN
1048552,2008,6,13,5,1255,1245,1639.0,1640,AA,1494,...,4.0,14,0,N,0,NaN,NaN,NaN,NaN,NaN
1048553,2008,6,17,2,1424,1245,1854.0,1640,AA,1494,...,5.0,47,0,N,0,0.0,79.0,35.0,0.0,20.0
1048554,2008,6,18,3,1255,1245,1657.0,1640,AA,1494,...,9.0,15,0,N,0,5.0,0.0,7.0,0.0,5.0
1048555,2008,6,19,4,1259,1245,1644.0,1640,AA,1494,...,6.0,13,0,N,0,NaN,NaN,NaN,NaN,NaN
1048556,2008,6,21,6,1301,1245,1649.0,1640,AA,1494,...,7.0,19,0,N,0,NaN,NaN,NaN,NaN,NaN
1048557,2008,6,22,7,1305,1245,1712.0,1640,AA,1494,...,5.0,12,0,N,0,4.0,0.0,12.0,0.0,16.0
1048558,2008,6,25,3,1259,1245,1705.0,1640,AA,1494,...,5.0,13,0,N,0,2.0,0.0,11.0,0.0,12.0
1048559,2008,6,28,6,1308,1245,1657.0,1640,AA,1494,...,7.0,14,0,N,0,9.0,0.0,0.0,0.0,8.0
1048560,2008,6,29,7,1308,1245,1715.0,1640,AA,1494,...,6.0,26,0,N,0,14.0,0.0,12.0,0.0,9.0
1048561,2008,6,1,7,1559,1535,1921.0,1915,AA,1496,...,7.0,13,0,N,0,NaN,NaN,NaN,NaN,NaN
1048562,2008,6,4,3,1617,1535,1945.0,1915,AA,1496,...,4.0,15,0,N,0,0.0,0.0,0.0,0.0,30.0
1048563,2008,6,7,6,1543,1535,1912.0,1915,AA,1496,...,6.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
1048564,2008,6,8,7,1623,1535,1957.0,1915,AA,1496,...,8.0,16,0,N,0,42.0,0.0,0.0,0.0,0.0
1048565,2008,6,10,2,1623,1535,2003.0,1915,AA,1496,...,8.0,16,0,N,0,46.0,0.0,0.0,0.0,2.0
1048566,2008,6,12,4,1545,1535,1944.0,1915,AA,1496,...,7.0,24,0,N,0,10.0,0.0,19.0,0.0,0.0
1048567,2008,6,13,5,1609,1535,1942.0,1915,AA,1496,...,7.0,15,0,N,0,27.0,0.0,0.0,0.0,0.0
1048568,2008,6,14,6,1616,1535,1954.0,1915,AA,1496,...,11.0,11,0,N,0,11.0,0.0,0.0,0.0,28.0
1048569,2008,6,17,2,1617,1535,2002.0,1915,AA,1496,...,7.0,17,0,N,0,0.0,22.0,5.0,0.0,20.0
1048570,2008,6,19,4,1551,1535,1923.0,1915,AA,1496,...,5.0,20,0,N,0,NaN,NaN,NaN,NaN,NaN
1048571,2008,6,20,5,1555,1535,1927.0,1915,AA,1496,...,6.0,14,0,N,0,NaN,NaN,NaN,NaN,NaN
1048572,2008,6,21,6,1555,1535,1917.0,1915,AA,1496,...,5.0,13,0,N,0,NaN,NaN,NaN,NaN,NaN
1048573,2008,6,22,7,1607,1535,1941.0,1915,AA,1496,...,5.0,12,0,N,0,1.0,0.0,0.0,0.0,25.0
1048574,2008,6,23,1,1608,1535,1933.0,1915,AA,1496,...,6.0,10,0,N,0,18.0,0.0,0.0,0.0,0.0

In [25]:
# 4. Show the total and average number flights that were diverted and cancelled for each carrier by day of the week.
delayed_flights_df.groupby(['UniqueCarrier', 'DayOfWeek'])[['Diverted', 'Cancelled']].agg(['sum', 'mean'])


# Display the top 25 rows
delayed_flights_df.groupby(['UniqueCarrier', 'DayOfWeek'])[['Diverted', 'Cancelled']].agg(['sum', 'mean']).head(25)

                        Diverted           Cancelled
                             sum      mean       sum mean
UniqueCarrier DayOfWeek
9E            1               29  0.006398         0  0.0
              2               25  0.005391         0  0.0
              3               17  0.003919         0  0.0
              4               35  0.008132         0  0.0
              5               19  0.003475         0  0.0
              6               15  0.003612         0  0.0
              7               15  0.003408         0  0.0
AA            1               55  0.003570         0  0.0
              2               68  0.004739         0  0.0
              3               66  0.004741         0  0.0
              4               56  0.003745         0  0.0
              5               63  0.003570         0  0.0
              6               89  0.007107         0  0.0
              7               72  0.005027         0  0.0
AQ            1                1  0.014493         0  0.0
              2                0  0.000000         0  0.0
              3                0  0.000000         0  0.0
              4                0  0.000000         0  0.0
              5                1  0.006135         0  0.0
              6                3  0.022556         0  0.0
              7                1  0.008850         0  0.0
AS            1               15  0.006326         0  0.0
              2               14  0.006390         0  0.0
              3               16  0.006794         0  0.0
              4               16  0.006180         0  0.0

In [27]:
# 5.Show the total and average number flights that were diverted and cancelled 
# for each flight origin and destination.
delayed_flights_df.groupby(['Origin', 'Dest'])[['Diverted', 'Cancelled']].agg(['sum', 'mean'])



# Display the top 25 rows
delayed_flights_df.groupby(['Origin', 'Dest'])[['Diverted', 'Cancelled']].agg(['sum', 'mean']).head(25)

            Diverted           Cancelled
                 sum      mean       sum mean
Origin Dest
ABE    ATL         0  0.000000         0  0.0
       BHM         0  0.000000         0  0.0
       CLE         0  0.000000         0  0.0
       CLT         0  0.000000         0  0.0
       CVG         0  0.000000         0  0.0
       DTW         0  0.000000         0  0.0
       JFK         0  0.000000         0  0.0
       LGA         0  0.000000         0  0.0
       ORD         2  0.009302         0  0.0
       PHL         0  0.000000         0  0.0
ABI    DFW         0  0.000000         0  0.0
ABQ    AMA         0  0.000000         0  0.0
       ATL         0  0.000000         0  0.0
       AUS         0  0.000000         0  0.0
       BWI         0  0.000000         0  0.0
       CLE         0  0.000000         0  0.0
       CVG         0  0.000000         0  0.0
       DAL         5  0.010225         0  0.0
       DEN         0  0.000000         0  0.0
       DFW         2  0.006289         0  0.0
       ELP         0  0.000000         0  0.0
       EWR         0  0.000000         0  0.0
       HOU         1  0.005917         0  0.0
       IAD         0  0.000000         0  0.0
       IAH         1  0.004149         0  0.0

In [28]:
# 6. Show the total number flights that were diverted for each airline carrier, flight origin,
# and destination by day of the week.
delayed_flights_df.groupby(['UniqueCarrier', 'Origin', 'Dest', 'DayOfWeek'])['Diverted'].sum()


# Display the top 10 rows
delayed_flights_df.groupby(['UniqueCarrier', 'Origin', 'Dest', 'DayOfWeek'])['Diverted'].sum().head(10)

UniqueCarrier  Origin  Dest  DayOfWeek
9E             ABE     DTW   1            0
                             2            0
                             3            0
                             4            0
                             5            0
                             6            0
                             7            0
               ALB     DTW   1            0
                             2            0
                             3            0
Name: Diverted, dtype: int64

In [29]:
# 7.Remove the multi-index from the previous DataFrame so the "Diverted" and "sum" are a column name. 
# Retrieve the first level 
delayed_flights_df.groupby(['UniqueCarrier', 'Origin', 'Dest', 'DayOfWeek'])['Diverted'].sum().reset_index(level=0)


# Retrieve the second level     
delayed_flights_df.groupby(['UniqueCarrier', 'Origin', 'Dest', 'DayOfWeek'])['Diverted'].sum().reset_index(level=1)

                             Origin  Diverted
UniqueCarrier Dest DayOfWeek
9E            DTW  1            ABE         0
                   2            ABE         0
                   3            ABE         0
                   4            ABE         0
                   5            ABE         0
...                             ...       ...
YV            PHX  3            YUM         0
                   4            YUM         0
                   5            YUM         0
                   6            YUM         0
                   7            YUM         0

[49724 rows x 2 columns]

In [30]:
# Combine the levels and display the DataFrame.
delayed_flights_df.groupby(['UniqueCarrier', 'Origin', 'Dest', 'DayOfWeek'])['Diverted'].sum().reset_index(level=[0,1,2])

          UniqueCarrier Origin Dest  Diverted
DayOfWeek
1                    9E    ABE  DTW         0
2                    9E    ABE  DTW         0
3                    9E    ABE  DTW         0
4                    9E    ABE  DTW         0
5                    9E    ABE  DTW         0
...                 ...    ...  ...       ...
3                    YV    YUM  PHX         0
4                    YV    YUM  PHX         0
5                    YV    YUM  PHX         0
6                    YV    YUM  PHX         0
7                    YV    YUM  PHX         0

[49724 rows x 4 columns]